@import "./settings/variables";

*, *::before, *:before, *::after, *:after{
  box-sizing: border-box;
}

header{
  background: $dark-primary-color;
}

nav{
  background: $default-primary-color;
}

footer{
  background: $dark-primary-color;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.flex-container > * {
  padding: 15px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}

#listSongs {
  list-style-type: none;
  width: 500px;
  li:hover {
    background: $light-primary-color;
    cursor: pointer;
  }
  li {
    padding: 10px;
    overflow: auto;
    h3{
      font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
      color: $primary-text-color;
    }
    h4{
      color: $secondary-text-color;
      margin: 5px 0 5px 0;
    }
    img{
      float: left;
      margin: 0 15px 0 0;
    }
  }
}

#singleSong{
  display: none;
}

#divProperties{
  width: 500px;
  img{
    float: left;
  }
  .btn {
    font: bold 18px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    background-color: $default-primary-color;
    color: $primary-text-color;
    padding: 2px 6px 2px 6px;
    border: 1px solid $dark-primary-color;
  }
}


